/**
 * scheme: $color-
 *
 * should be something like this:
 *   $color-primary: #FFF;
 *   $color-secondary: #000
 */

$color-white: #FFF;
$color-black: #000;

$color-link: #FFF;
$color-link-hover: #000;
$color-link-active: #FF0000;
